body {
    text-align: center;
    margin-left: 0px;
}


header {
    height : 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header img {
   width: fit-content;
   align-self: center;
}

 h1 {
    font-family: 'Nerko One', cursive;
    font-size: 35px;
    margin: 0;
    margin-top:20px;
}

h2 {
    font-family: 'Nerko One', cursive;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    font-weight: bolder;
}

form {
    text-align: center;
    margin: auto;
    width: 30%;
}

.form-item {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.form-item label{
    margin-right: 10px;
    margin-left: 10px;
}

.form-item input, select{
    background-color: rgb(250, 211, 196);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(124, 122, 121);
}

.form-item input:focus {
   background-color:  rgb(233, 189, 173);
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
}
ul li {
    list-style: none;
    background-color: rgb(233, 189, 173);
    border-radius: 5px;
    flex-basis: 20%;
    padding: 10px;
    margin: 5px;
}

button, #save{
    background-color: rgb(233, 189, 173);
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    box-shadow: 2px 2px 5px rgb(124, 122, 121);
}

button:hover, #save:hover{
    background-color: rgb(230, 143, 112);
}

.rat-types {
    margin: 5px;
    padding: 5px;
}

.rat-item {
    margin-left: 0px;
    box-shadow: 2px 2px 5px rgb(124, 122, 121);
}

#select-wrapper{
    display: flex;
    justify-content: center;
}

#select-type {
    margin-bottom: 0px;
}

@media only screen and (max-width: 780px){

#ratList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#ratList li {
    width: 100%;
}

form {
    width: 100%;
}

form label {
    font-size: 1.3em;
}

button, #save {
    font-size: 1.5em;
    padding: 0.5em;
}

.rat-item {
    font-size: 1.3em;

}

}